# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/client/build
!/client/build/videos/README.md

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
**/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.idea
.vscode
*.swp
*.swo

# Deployment files
deploy.zip

# Media files - except for placeholder files
client/public/videos/*.mp4
client/build/videos/*.mp4
**/*.mp4
!client/public/videos/placeholder.mp4
!server/public/videos/placeholder.mp4 