# Skip optional dependencies 
optional=false

# Avoid using package-lock.json
package-lock=false

# Ensure we use the public registry
registry=https://registry.npmjs.org/

# Prevent bcrypt installation
omit=optional 